[Desktop Entry]
Type=Application
Name=Look4
Comment=Consulte links no VirusTotal
Exec=look4
Icon=br.com.look4.LinkChecker
Terminal=false
Categories=Network;Utility;Security;
StartupNotify=true

